Package: enigma2-plugin-extensions-vavoo
Version: 1.46
Section: misc
Priority: optional
Architecture: all
Maintainer: Lululla
Description: Vavoo stream online
Source: enigma2-plugin-extensions-vavoo
Homepage: *
